@import "sidenav.css";
@import "shoebox.css";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
}

#background {
    min-height: 100vh;
    background-image: url('/images/d37a3db401bca1bd76aba16f132fd09b.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
/*    background-color: grey;*/
    height: 100vh;
    width: 96vw;
    margin-right: auto; 
    margin-left: auto;
}



